@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* RIFT */
@font-face {
  font-family: 'rift-bold';
  src: url('/assets/fonts/rift/Rift-Bold.otf');
}
@font-face {
  font-family: 'rift-bold-italic';
  src: url('../../public/assets/fonts/rift/Rift-Bold-Italic.otf');
}
@font-face {
  font-family: 'rift-demi-italic';
  src: url('../../public/assets/fonts/rift/Rift-Demi-Italic.otf');
}
@font-face {
  font-family: 'rift-demi';
  src: url('../../public/assets/fonts/rift/Rift-Demi.otf');
}
@font-face {
  font-family: 'rift-italic';
  src: url('../../public/assets/fonts/rift/Rift-Italic.otf');
}
@font-face {
  font-family: 'rift-light-italic';
  src: url('../../public/assets/fonts/rift/Rift-Light-Italic.otf');
}

@font-face {
  font-family: 'rift-light';
  src: url('../../public/assets/fonts/rift/Rift-Light.otf');
}

@font-face {
  font-family: 'rift-light-medium';
  src: url('../../public/assets/fonts/rift/Rift-Medium.otf');
}
@font-face {
  font-family: 'rift-medium';
  src: url('../../public/assets/fonts/rift/Rift-Medium.otf');
}
@font-face {
  font-family: 'rift-medium-italic';
  src: url('../../public/assets/fonts/rift/Rift-Medium-Italic.otf');
}
@font-face {
  font-family: 'rift-regular';
  src: url('../../public/assets/fonts/rift/Rift-Regular.otf');
}

/* SOLEIL */
@font-face {
  font-family: 'soleil-bold';
  src: url('/assets/fonts/soleil/SoleilBold.otf');
}
@font-face {
  font-family: 'soleil-book';
  src: url('../../public/assets/fonts/soleil/SoleilBook.otf');
}
@font-face {
  font-family: 'soleil-light';
  src: url('../../public/assets/fonts/soleil/SoleilLight.otf');
}
@font-face {
  font-family: 'soleil-regular';
  src: url('../../public/assets/fonts/soleil/SoleilRegular.otf');
}